<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @anteproyecto.nombre %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @anteproyecto.objetivo %>
</p>

<p>
  <strong>Justificacion:</strong>
  <%= @anteproyecto.justificacion %>
</p>

<p>
  <strong>Cronograma:</strong>
  <%= @anteproyecto.cronograma %>
</p>

<p>
  <strong>Descripcionactividad:</strong>
  <%= @anteproyecto.descripcionactividad %>
</p>

<p>
  <strong>Nombreempresa:</strong>
  <%= @anteproyecto.nombreempresa %>
</p>

<p>
  <strong>Direccionempresa:</strong>
  <%= @anteproyecto.direccionempresa %>
</p>

<p>
  <strong>Telefonoempresa:</strong>
  <%= @anteproyecto.telefonoempresa %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @anteproyecto.estatus %>
</p>

<%= link_to 'Edit', edit_anteproyecto_path(@anteproyecto) %> |
<%= link_to 'Back', anteproyectos_path %>
